body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  /*background-color: #cfcbbf*/
}

main {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  display: block;
  padding: 0 15px;
}

h1 {
  color: #946A03;
  font: 500 6em/1 'Bilbo Swash Caps', serif;
  margin: .3em 0;
  text-align: center;
}

input {
  -webkit-appearance: none;
  border: 3px dashed #fff;
  width: 100%;
  height: 60px;
  display: block;
  font-size: 2em;
  margin-bottom: 2em;
  color: #946A03;
}
input:focus {
  border-color:#946A03;
  outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
    font-size: 1.1em;
    line-height: 1.2
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   font-size: 1.1em;
   line-height: 1.2
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   font-size: 1.1em;
   line-height: 1.2
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
   font-size: 1.1em;
   line-height: 1.2
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #aaa;
  font-size: 1.1em;
  line-height: 1.2
}



.results li {
  background-color: #fff;
  padding: .5em;
  margin-bottom: 1em;
}

.desc {
  display: none;
}

.toggle-label {
  float: right;
  font-style: normal;
}

blockquote {
  margin: 0;
  color: #946A03;
  font-size: 1.2em;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.5em;
}
